/* Main styles */

body {
  margin: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
a {
  text-decoration: none;
  color: #000;
}
a:hover {
  color: #5191fa;
}
h2 {
  font-size: 2em;
  margin-top: 1em;
  color: #3f3f3f;
}
p {
  font-size: 1.5em;
}

/* Navigation */

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 50px 0;
  font-size: 1.5em;
  height: 100px;
  border-bottom: solid 1px #ccc;
}
.nav-left li {
  display: inline-block;
  list-style: none;
}
.logo {
  font-size: 2em;
  font-weight: bold;
  color: #000;
  text-transform: none;
}
.menu-item {
  font-size: 0.8em;
  font-weight: bold;
  text-transform: uppercase;
  padding: 20px;
}
select {
  font-size: 1em;
  padding: 0.2em;
  background: #fff;
}
.responsive-menu {
  display: none;
}

/* Header */

header {
  height: 455px;
  background: url(img/tower.jpg) center -10vw no-repeat;
  background-size: cover;
  text-align: center;
  padding-top: 115px;
}
header h1 {
  font-size: 4em;
  color: #fff;
  text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
}
header input {
  font-size: 1.5em;
  border: none;
  padding: 1em;
  color: #3f3f3f;
}
header button {
  font-size: 1.5em;
  border: none;
  color: #3f3f3f;
  padding: 1em;
  cursor: pointer;
}
header button:hover {
  background: #ccc;
}

/* Centeral column */

main {
  max-width: 1230px;
  margin: 20px auto;
  padding: 0 20px 20px;
}
.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(370px, 1fr));
  grid-gap: 2vw;
}
main > section {
  text-align: center;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1);
}
section img {
  width: 100%;
}
.link {
  margin: 0;
  padding: 1em 0;
  width: 100%;
  line-height: 2em;
}
.link:hover {
  background: #f5f5f5;
  color: #5191fa;
}
.link span {
  color: #727272;
  border-top: solid 3px #ccc;
  font-size: 0.6em;
  padding: 15px;
  font-weight: normal;
}

/* Footer */

footer {
  background: #f5f5f5;
}
.wrapper {
  margin: 0 auto;
  height: 100px;
  padding: 10px 0 20px;
  max-width: 600px;
  color: #424242;
  font-size: 0.9em;
}
.wrapper img {
  margin-top: 10px;
  opacity: 0.7;
}
.wrapper img:hover {
  opacity: 1;
}
.wrapper a {
  text-decoration: none;
  color: #727272;
}
.wrapper a:hover {
  text-decoration: none;
  color: #000;
}

/* Additional styles */

.float {
  float: left;
}
.w170 {
  width: 170px;
}
.w150 {
  width: 150px;
}
.p20 {
  padding-right: 20px;
}
.opacity {
  cursor: pointer;
  opacity: 1;
  -moz-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  -webkit-transition: all 0.2s ease-out;
}
.opacity:hover {
  opacity: 0.6;
}
.hidden{
  display: none;
}
.big {
  font-size: 3em;
}

/* Image gallery */

.full-img {
  position: relative;
  display: block;
  width: 100%;
}
.displayed-img {
  width: 100%;
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0);
}
.description {
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  padding: 0 5% 2%;
  width: 90%;
  display: block;
  cursor: pointer;
}
.thumb-bar img {
  display: block;
  width: 16.66%;
  float: left;
  cursor: pointer;
}
.gallery-title {
  font-size: 1.9em;
  font-weight: bold;
}
.open-description{
  height: 97%;
}

/* Responsive video */

.videoWrapper {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  height: 0;
}
.videoWrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* Responsive map */

.map-responsive {
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;
  height: 0;
}
.map-responsive iframe {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute;
}

/* Media */

@media (max-width: 1000px) {
  .responsive-menu {
    display: block;
  }
  .menu {
    display: none;
  }

}

/* Script */

.mobile-menu {
  display: block;
  position: absolute;
  right: 0;
  top: 80px;
}
.mobile-li {
  display: list-item!important;
}
.mobile-li:hover {
  color: #fff;
  background: #000;
}
.mobile-a {
  display: block;
  color: #fff;
  background: rgba(0, 0, 0, 0.7);
  line-height: 2em;
  padding: 20px 100px;
}
